<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="~/css/site.css">
  <title>Add Vendor</title>
@* i am views/vendors/new *@
</head>

<body>
  <form action="/vendors" method="post">
  <input type="text" name="vendorName" placeholder="Vendor Name" />
  <textarea name="vendorDescription" placeholder="Vendor Description"></textarea>
  <button type="submit">Add Vendor</button>
  </form>

<a href="/vendors">Back to Vendor List</a>
</body>

</html>