<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/site.css">
    <title>Zelena's Bakery!</title>
  </head>
  <body>
    <h1>Welcome to Zelena's Bakery!</h1>
    <p>Please make an order!</p>
    @* i am views/home/index *@

    <a href="/vendors">Main vendor page</a>
    <a href="/vendors/new">Add new vendor</a>


  </body>
</html>